@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

#container {
    background-color: lightgrey;
    width: 70%;
    height: 1000px;
    margin: auto;
    padding: 30px;
}

h1 {
    background-color: #FFDB13;
    width: 40%;
    border: 3px solid black;
    display: flex;
    margin-left: 30%;
    padding-left: 80px;
    margin-bottom: 50px;
    font-size: 50px;
}

h2 {
    color: #FF7E13;
    text-decoration: underline;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
}

#text {
    margin-bottom: 80px;
}

#play {
    display: flex;
    align-items: center;
}

#player1, #player2 {
    color: #2696E3;
    width: 30%;
    text-align: center;
}

#player2 {
    color: #FE1616;
}

.espace {
    margin-bottom: 10px;
}

#circleBlue1, #circleBlue2, #circleBlue3, #circleBlue4, #circleBlue5, #circleRed1, #circleRed2, #circleRed3, #circleRed4, #circleRed5 {
    height: 70px;
    width: 70px;
    border-radius: 70px;
    background-color: #2696E3;
    display: inline-block;
    margin-left: 10px;
}

#circleRed1, #circleRed2, #circleRed3, #circleRed4, #circleRed5 {
    background-color: #FE1616;
    ;
}

#morpion {
    width: 38%;
    margin-left: 50px;
}

.case1, .case2, .case3 {
    background-color: #444444;
    margin: 0;
    width: 100px;
    height: 100px;
    border: 2px solid black;
}

#ligne1, #ligne2, #ligne3 {
    display: inline-block;
}

#reset {
    background-color: #26AC34;
    color: white;
    width: 150px;
    height: 20px;
    margin-left: 420px;
    margin-top: 30px;
}

@media screen and (max-width: 900px) {
    #container {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #player1, #player2 {
        display: none;
    }

    #morpion {
        width: 70%;
        margin: auto;
    }

    h1 {
        width: 100%;
        margin-left: 0;
        padding-left: 250px;
    }

    #reset {
        margin-left: 140px;
    }
}

@media screen and (max-width: 450px) {
    .case1, .case2, .case3 {
        width: 60px;
        height: 60px;
    }

    h1 {
        padding-left: 0;
    }

    #reset{
        margin-left: 60px;
    }
}